<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style></style>
    <title>Document</title>
</head>
<body>
    <div style=" display:flex; justify-content:center; justify-content: space-around; align-items:center; padding:10px;flex-direction:column; width: 387px; height: 382px; background: #2A2530; border-radius: 25px">
        
    <div style="width: 260px; height: 104px; text-align: center; color: white; font-size: 96px; font-family: Lalezar; font-weight: 400; word-wrap: break-word"> DAY </div>
    <div style="width: 254px; height: 108px; text-align: center; color: white; font-size: 200px; font-family: Lalezar; font-weight: 400; word-wrap: break-word">{{day_num}}</div>
    <div style="margin-top:90px;  height: 90px; text-align: center; color: white; font-size: 32px; font-family: Lalezar; font-weight: 400; word-wrap: break-word">“Don’t Count The Days, Make Every Day Count”</div> 
    </div>
</body>
</html>